<div class='container-fluid '>
    <div id='space'></div>
 <div class=' col-md-6 offset-md-3 ' id='login'> <br/>
     <h1 style="text-align: center;">Login Here</h1>


 <form #login='ngForm'>
  <div class='form-group'>
  <label>Email/Phone : <span class='text-danger'>*</span></label>
  <input type='text' class='form-control' #username='ngModel' [class.is-invalid]='username.invalid && username.touched' name='username' ngModel required placeholder="Enter email/password">    
  <small class='text-danger' [class.d-none]='username.valid || username.untouched'>email required !</small>
  </div>
  <div class='form-group'>
  <label>Password : <span class='text-danger'>*</span></label>
  <input type='text' class='form-control' #password='ngModel' [class.is-invalid]='password.invalid && password.touched' name='password' ngModel placeholder="Enter password" required>    
  <small class='text-danger' [class.d-none]='password.valid || password.untouched'>password required !</small>
  </div>
  <div class='form-group'>
  <input type='checkbox' name='remember'>
  <label>&nbsp;Remember me</label>
  </div>
  <input [disabled]='login.form.invalid' type="submit" value='submit' class='form-control'><br/>
  <a href=''>Forgot password</a>
  <a routerLink='/signup' style='float:right'>Create New Account</a>
 </form>


 </div><br/>
 {{login.value |json }}

</div>
