<script  type="text/javascript">
  var MenuItem = document.getElementById("MenuItem");
  MenuItem.style.maxHeight='0px';
  function menutoggle(){
      if(MenuItem.style.maxHeight == '0px'){
             MenuItem.style.maxHeight='200px';
      }else{
        MenuItem.style.maxHeight='0px';
      }
    }
</script>

<div class='container-fluid' id='navigation'>
  <div class='navbar'>
    <div class='logo'>
      <a routerLink=''><img src='/assets/images/logo.png' width='130px'></a>
    </div>
    <nav>
      <ul id='MenuItem'>
        <li><a routerLink=''>Home</a></li>
        <li><a routerLink='/login'>Products</a></li>
        <li><a routerLink='#'>Offers</a></li>
        <li><a routerLink='#'>Account</a></li>
      </ul>
      
    </nav>
    <img src='/assets/images/cart.png' width='30px' height='30px'>
    <img src='/assets/images/menu.png' class='menu-icon' onclick="menutoggle()">
  </div>
</div>
<router-outlet></router-outlet>

<footer>
<div class="continer-fluid">
  <div class='container'>
    <div class='col-md-4'>
      <ul class='nav flex-column'>
        <li class='nav-item'>
          <p><b>Contact us</b></p>
          <p>Vivekdussa999@gmail.com</p>
          <p>8919531044</p>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer> 
